.smex-items
ac-comphist.dat
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
network-security.data
elpa/
.recentf~
ido.last~
bookmarks
games/
eshell/
url/
server/